html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: "Source Code Pro", monospace;
  width: 100vw;
  height: 100%;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
  z-index: 23;
}

li {
  list-style: none;
}
/*========================================================================
                                                        NAVBAR
                      ==========================================================================
                      */
#navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 8px 6px -6px black;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}

#navbar .menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

/*========================================================================
                                                                    WELCOME MESSAGE
                                  ==========================================================================
                                  */

#welcome-section {
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1436262513933-a0b06755c784?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#welcome-section h1 {
  font-size: 3rem;
}

.typewriter {
  border-right: solid 3px rgba(0, 255, 0, 0.75);
  white-space: nowrap;
  overflow: hidden;
  font-size: 28px;
  color: black;
}

.typewriter {
  animation: animated-text 4s steps(26, end) 1s 1 normal both,
    animated-cursor 600ms steps(29, end) infinite;
}

/* text animation */

@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* cursor animations */

@keyframes animated-cursor {
  from {
    border-right-color: rgba(0, 255, 0, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

.portfolio-span {
  color: red;
}

.animate-pop-in {
  animation: pop-in 0.6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
  opacity: 0;
  animation-delay: 6s;
  width: 100%;
}

.portfolio-span {
  animation-delay: 5s;
}

@keyframes pop-in {
  0% {
    opacity: 0;
    transform: translateY(-4rem) scale(0.8);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

/*========================================================================
                                                                                  ABOUT SECTION
                                                ==========================================================================
                                                */

#about {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVIALRCevgj5EHWbbVDxjXJbQ2_yvntG62-g&usqp=CAU");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;

  height: 100%;
}

#about h2 {
  font-size: 2.5rem;
  margin: 0;
  padding: 50px 0;
}

#about p {
  text-align: center;
  margin: 0;
  padding: 0 50px;
}

#about img {
  height: 200px;
  border-radius: 50%;
  padding-bottom: 50px;
  box-shadow: #ccc;
}

/*
                              ========================================================================
                                                      PROJECTS SECTION
                              ========================================================================
            */

#projects {
  display: flex;
  flex-direction: column;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVIALRCevgj5EHWbbVDxjXJbQ2_yvntG62-g&usqp=CAU");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#projects h1 {
  padding: 50px 0;
}

.project-tile-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-height: 100%;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.project-tile {
  padding: 0 30px 20px;
}

#projects img {
  margin: 5px;
  transition: all 1s;
  height: 300px;
  width: 400px;
  box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
}

#projects img:hover {
  transform: scale(1.1);
}

/*========================================================================
                                                                                          NAVBAR
                        ==========================================================================
                        */

.contact {
  display: flex;
  flex-direction: column;
  position: relative;
  background-image: url("https://images.unsplash.com/photo-1436262513933-a0b06755c784?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Source Code Pro", monospace;
}

.contact-header {
  margin: 10rem 10rem 3rem 10rem;
  text-align: center;
}

#co-title {
  font-size: 1.2rem;
  font-weight: 700;
  color: #c31432;
  text-transform: uppercase;
  margin-bottom: 20px;
}

#co-text {
  font-size: 3rem;
  color: #fff;
  padding-bottom: 2rem;
}

.contact-content {
  display: flex;
  justify-content: space-between;
  align-self: center;
  line-height: 2;
  height: auto;
  width: 70%;
  background-color: rgba(0, 0, 0, 0.3);
  margin-bottom: 10rem;
}

.contact-form {
  padding: 20px;
  margin: 0;
  color: #fff;
  width: 100%;
  height: 100%;
}

#form-title {
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  line-height: 1px;
  margin-left: 4rem;
  margin-bottom: 3rem;
}

fieldset {
  border: none;
}

::placeholder {
  color: rgb(199, 192, 192);
}

.form-field {
  outline: none;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.09);
  margin-bottom: 0.9rem;
}

#name,
#email,
#subject,
#message {
  color: white;
  outline: none;
  background: transparent;
  border: none;
  letter-spacing: 2px;
  font-size: 0.8em;
  line-height: 2rem;
  padding-bottom: 0.7rem;
  width: 100%;
  text-align: center;
}

textarea,
#message {
  width: 100%;
  color: #fff;
  overflow: visible;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#form-btn {
  display: flex;
  justify-content: center;
  border: none;
  color: white;
  font-size: 0.6rem;
  letter-spacing: 2.5px;
  font-weight: 700;
  text-transform: uppercase;

  height: 60px;
  background-color: #c31432;
  cursor: pointer;
  transition: all 0.3s ease;
}

#form-btn:hover {
  opacity: 0.9;
  transform: translateY(-2.5%);
  box-shadow: 0 0 15px 0 #000;
}

/*Contact Info*/

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem;

  background-color: rgba(0, 0, 0, 0.7);
}

.contact-info h3 {
  font-size: 1rem;
  color: #c31432;
}

.contact-info a {
  text-decoration: none;
  color: #fff;
  font-size: 0.8rem;
  letter-spacing: 2px;
  line-height: 3rem;
  margin-bottom: 1rem;
  transition: all 0.3s ease;
}

.contact-info a:hover {
  transform: translateY(-2.5%);
  color: #999;
}

.contact-info .fab {
  font-size: 1.5rem;
  line-height: 1rem;
  color: #666;
  cursor: pointer;
  transition: all 0.3s ease;
}

.fab:hover {
  transform: scale(1.2);
  color: #999;
}

.contact-links {
  justify-content: center;
}

/*========================================================================
                                                                        MEDIA QUERIES
                                      ==========================================================================
                                      */

@media screen and (min-width: 1460px) {
  .form-field {
    width: 100%;
  }

  #form-btn {
    width: 100%;
  }
}

@media screen and (max-width: 960px) {
  .contact-content {
    display: flex;
    flex-direction: column;
  }

  .form-field {
    width: 100%;
  }

  #form-btn {
    width: 100%;
  }

  #form-title {
    margin: 3rem auto;
  }

  .contact-header {
    margin: 5rem 5rem 3rem 5rem;
  }

  #co-title {
    font-size: 1rem;
  }

  #co-text {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 960px) {
  .form-field {
    width: 100%;
  }

  #form-title {
    margin: 3rem auto;
  }

  #form-btn {
    width: 100%;
  }

  .contact-header {
    margin: 7rem 7rem 3rem 7rem;
  }

  .contact-info {
    padding: 5rem;
  }

  #co-title {
    font-size: 1rem;
  }

  #co-text {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 600px) {
  #navbar {
    position: unset;
    width: 100vw;
  }

  #navbar .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding: 0;
    margin: 0;
  }

  #welcome-section h1 {
    font-size: 1.6rem;
  }

  .project-tile {
    width: 50%;
  }

  #projects img {
    transition: all 1s;
    height: auto;
    width: 100%;
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    margin: 0;
  }

  .contact-header {
    margin: 2em;
  }

  .contact #co-text {
    font-size: 1.6rem;
    padding: 0;
    margin: 0;
  }

  .contact-content {
    height: 100%;
    padding: 0 20px 20px;
  }

  .contact-form {
    padding: 0;
    height: 100%;
  }

  form {
    margin: 0;
  }

  textarea {
    height: 200px;
  }

  #form-btn {
    margin: 0;
    padding: 0;
  }

  .contact-info {
    height: 100vh;
  }

  .contact-links {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 400px) {
  #navbar {
    position: unset;
    width: 100vw;
  }

  #navbar .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding: 0;
    margin: 0;
  }

  #welcome-section h1,
  h2 {
    font-size: 1.2rem;
    margin: 0;
    width: 0;
  }

  .typewriter-container {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    max-width: 80%;
    justify-content: center;
    align-items: center;
  }

  @keyframes animated-text {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  .project-tile {
    width: 100%;
  }

  #projects img {
    transition: all 1s;
    height: 200px;
    width: 100%;
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    margin: 0;
  }

  .contact-header {
    margin: 2em;
  }

  .contact #co-text {
    font-size: 1.6rem;
    padding: 0;
    margin: 0;
  }

  .contact-content {
    width: 100vw;
    height: 100%;
  }

  .contact-form {
    padding: 0;
    height: 100vh;
  }

  form {
    margin: 0;
    width: 100%;
  }

  #form-btn {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .contact-info {
    padding: 0;
    height: 100vh;
  }

  .contact-links {
    display: flex;
    flex-direction: column;
  }
}
